<a href="https://colab.research.google.com/github/Jair2472/Modelos_de_Prediccion/blob/main/LDD/Limpieza_Y_Visualizacion_de_DatosV1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # Importamos la librería pandas, esencial para trabajar con DataFrames

import pandas as pd # Importamos la librería pandas, esencial para trabajar con DataFrames

# Carga de datos
df = pd.read_csv('/content/_BD (2).csv')

In [ ]:
# Ahora, hagamos una revisión inicial rápida con pandas
print("Primeras 5 filas del DataFrame:")
print(df.head()) # Muestra las primeras 5 filas para ver cómo se cargaron los datos.

Primeras 5 filas del DataFrame:
   year  Periodo        Date  Departamento    Ventasacum    Costosacum  \
0  2019        1  28/08/2137           123   25582.84437   6224.742985
1  2019        1  29/08/2137           123   52294.89596  12551.411640
2  2019        1  30/08/2137           123   75989.98114  17472.170950
3  2019        1  31/08/2137           123  101996.77740  23246.260370
4  2019        1  01/09/2137           123  130852.26790  29349.922940

   Ingresosacum  MargenPorc  Ajuste_ingreso  Ventas_diarios  Costos_diarios  \
0   -178.195595    0.200765             0.0             NaN             NaN
1   -211.506122    0.200765             0.0     26712.05159     6326.668655
2   -445.821574    0.200765             0.0     23695.08518     4920.759310
3   -820.099531    0.200765             0.0     26006.79626     5774.089420
4  -1185.005452    0.200765             0.0     28855.49050     6103.662570

   Ingresos_diarios
0               NaN
1        -33.310528
2       -234.315452
3       -374.277957
4       -364.905921

In [ ]:
print("\nInformación general del DataFrame:")
print(df.info()) # Muestra el número de filas, columnas, tipos de datos y cuántos valores no son nulos por columna.

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              17528 non-null  int64
 1   Periodo           17528 non-null  int64
 2   Date              17528 non-null  object
 3   Departamento      17528 non-null  int64
 4   Ventasacum        17528 non-null  float64
 5   Costosacum        17528 non-null  float64
 6   Ingresosacum      17528 non-null  float64
 7   MargenPorc        17528 non-null  float64
 8   Ajuste_ingreso    17528 non-null  float64
 9   Ventas_diarios    17520 non-null  float64
 10  Costos_diarios    17520 non-null  float64
 11  Ingresos_diarios  17520 non-null  float64
dtypes: float64(8), int64(3), object(1)
memory usage: 1.6+ MB
None

In [ ]:
print("\nEstadísticas descriptivas básicas:")
print(df.describe()) # Para columnas numéricas, da media, desviación estándar, cuartiles, etc.

Estadísticas descriptivas básicas:
               year       Periodo  Departamento    Ventasacum     Costosacum  \
count  17528.000000  17528.000000  17528.000000  1.752800e+04   17528.000000
mean    2021.495208      7.019169    342.375000  1.600829e+05   95982.880726
std        1.707243      3.751096    126.083866  2.242324e+05  114786.507827
min     2019.000000      1.000000    123.000000  2.472162e+02     197.149503
25%     2020.000000      4.000000    262.750000  2.111071e+04   13963.146508
50%     2021.000000      7.000000    347.000000  6.969962e+04   48144.443020
75%     2023.000000     10.000000    435.000000  1.952431e+05  134596.326200
max     2024.000000     13.000000    541.000000  2.136533e+06  780294.327500

       Ingresosacum    MargenPorc  Ajuste_ingreso  Ventas_diarios  \
count  17528.000000  17528.000000    1.752800e+04    1.752000e+04
mean   -4715.972385      0.215637    2.858564e+03    1.975403e+02
std     7672.528052      0.053137    3.896837e+04    8.714436e+04
min   -68457.010140     -0.170538   -1.280077e+05   -2.074826e+06
25%    -6168.166707      0.183896    0.000000e+00    1.865095e+03
50%    -1104.185102      0.215529    0.000000e+00    5.059341e+03
75%        0.000000      0.248662    0.000000e+00    1.586899e+04
max     6235.712578      0.403637    1.478231e+06    1.213476e+06

       Costos_diarios  Ingresos_diarios
count    17520.000000      17520.000000
mean       122.975749        -12.460011
std      46415.651538       3693.435346
min    -754450.709400     -25998.186720
25%       1095.761613       -495.805985
50%       3854.363488        -98.863005
75%      10768.586032          0.000000
max      88264.407400      55654.043500

In [ ]:
# Ver nulos
print(df.isnull().sum())

year                0
Periodo             0
Date                0
Departamento        0
Ventasacum          0
Costosacum          0
Ingresosacum        0
MargenPorc          0
Ajuste_ingreso      0
Ventas_diarios      8
Costos_diarios      8
Ingresos_diarios    8
dtype: int64

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], unit='D', origin='29-10-2018')

ValueError: '0       2137-08-28
1       2137-08-29
2       2137-08-30
3       2137-08-31
4       2137-09-01
           ...
17523   2143-08-23
17524   2143-08-24
17525   2143-08-25
17526   2143-08-26
17527   2143-08-27
Name: Date, Length: 17528, dtype: datetime64[ns]' is not compatible with origin='29-10-2018'; it must be numeric with a unit specified

In [ ]:
try:
    # Intenta con un formato común DD/MM/YYYY. Si no funciona, ajusta el formato.
    df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y', errors='coerce')
    print("\nConversión intentada con formato DD/MM/YYYY.")
except ValueError:
    # Si el formato anterior falla, podrías intentar inferir o probar otro formato común
    print("\nEl formato DD/MM/YYYY no funcionó. Intentando inferir o probar otro formato.")
    # Podrías intentar sin format si el formato es muy variable, pero es menos seguro
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

Conversión intentada con formato DD/MM/YYYY.

In [ ]:
# Tipos de datos
print(df.dtypes)

year                         int64
Periodo                      int64
Date                datetime64[ns]
Departamento                 int64
Ventasacum                 float64
Costosacum                 float64
Ingresosacum               float64
MargenPorc                 float64
Ajuste_ingreso             float64
Ventas_diarios             float64
Costos_diarios             float64
Ingresos_diarios           float64
dtype: object

In [ ]:
# Ver columnas únicas / categóricas
for col in df.select_dtypes(include='object').columns:
  print(col, df[col].nunique())

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce') # Intenta convertir, si falla, pone NaN
# Ordenar los datos es FUNDAMENTAL para calcular diferencias diarias
df = df.sort_values(by=['Departamento', 'Date'])

df = df.sort_values(by=['Depto', 'Date'])
# - df.sort_values(): Este método ordena el DataFrame.
# - by=['Depto', 'Date']: Le decimos en qué columnas queremos ordenar. Primero por 'Depto' y luego, *dentro de cada departamento*, por 'Date'. Esto asegura que cuando calculemos la diferencia del día anterior, estemos comparando filas del mismo departamento y en orden cronológico.
# - df = ...: Asignamos el resultado de la ordenación de nuevo a 'df' para actualizar el DataFrame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              17528 non-null  int64
 1   Periodo           17528 non-null  int64
 2   Date              17528 non-null  datetime64[ns]
 3   Departamento      17528 non-null  int64
 4   Ventasacum        17528 non-null  float64
 5   Costosacum        17528 non-null  float64
 6   Ingresosacum      17528 non-null  float64
 7   MargenPorc        17528 non-null  float64
 8   Ajuste_ingreso    17528 non-null  float64
 9   Ventas_diarios    17520 non-null  float64
 10  Costos_diarios    17520 non-null  float64
 11  Ingresos_diarios  17520 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(3)
memory usage: 1.6 MB

In [ ]:
# Identificar NaNs después de la conversión de fecha (si usaste errors='coerce')
print("\nValores faltantes por columna (después de intentar convertir fechas):")
print(df.isnull().sum())

Valores faltantes por columna (después de intentar convertir fechas):
year                0
Periodo             0
Date                0
Departamento        0
Ventasacum          0
Costosacum          0
Ingresosacum        0
MargenPorc          0
Ajuste_ingreso      0
Ventas_diarios      8
Costos_diarios      8
Ingresos_diarios    8
dtype: int64

In [ ]:
  # Función para rellenar el primer NaN de cada grupo con el primer valor
def fill_first_diff_with_first_value(series):
    # series es la columna con las diferencias (tiene un NaN al inicio del grupo)
    # y la columna original acumulada
    return series.fillna(series.iloc[0]) # Rellena el NaN con el primer valor (iloc[0])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              17528 non-null  int64
 1   Periodo           17528 non-null  int64
 2   Date              17528 non-null  datetime64[ns]
 3   Departamento      17528 non-null  int64
 4   Ventasacum        17528 non-null  float64
 5   Costosacum        17528 non-null  float64
 6   Ingresosacum      17528 non-null  float64
 7   MargenPorc        17528 non-null  float64
 8   Ajuste_ingreso    17528 non-null  float64
 9   Ventas_diarios    17520 non-null  float64
 10  Costos_diarios    17520 non-null  float64
 11  Ingresos_diarios  17520 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(3)
memory usage: 1.6 MB

In [ ]:
# Renombrar columnas
df.rename(columns={
    'ÿear': 'Year',
    'period': 'Periodo',
    'date': 'Date',
    'depto': 'Departamento',
    'ventas': 'Ventasacum',
    'costos': 'Costosacum',
    'ingresos': 'Ingresosacum',
    'margen%': 'MargenPorc',
    'ajuste': 'Ajuste_ingreso',
    'VentasDiarias_Depto': 'Ventas_diarios',
    'CostosDiarias_Depto': 'Costos_diarios',
    'IngresosDiarias_Depto': 'Ingresos_diarios'
    }, inplace=True)

In [ ]:
# Para ver los cambios:
df.info() # Muestra las primeras filas con los nombres nuevos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17528 entries, 0 to 17527
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   year              17528 non-null  int64
 1   Periodo           17528 non-null  int64
 2   Date              17528 non-null  datetime64[ns]
 3   Departamento      17528 non-null  int64
 4   Ventasacum        17528 non-null  float64
 5   Costosacum        17528 non-null  float64
 6   Ingresosacum      17528 non-null  float64
 7   MargenPorc        17528 non-null  float64
 8   Ajuste_ingreso    17528 non-null  float64
 9   Ventas_diarios    17520 non-null  float64
 10  Costos_diarios    17520 non-null  float64
 11  Ingresos_diarios  17520 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(3)
memory usage: 1.6 MB

HASTA ESTE PUNTO TENGO LA CONVERSION DE VENTAS, COSTOS, INGRESOS DIARIOS

In [ ]:
from google.colab import files

nombre_dataframe_a_exportar = df
datasetheb_csv = '250520_BD(2).csv'
# 3. Convertir el DataFrame a CSV
nombre_dataframe_a_exportar.to_csv(datasetheb_csv, index=False)

# 4. Iniciar la descarga
files.download(datasetheb_csv)

print(f"Se ha iniciado la descarga del archivo '{datasetheb_csv}'.")
print("Revisa la carpeta de descargas de tu navegador.")

In [ ]:
df.head()

,year,Periodo,Date,Departamento,Ventasacum,Costosacum,Ingresosacum,MargenPorc,Ajuste_ingreso,Ventas_diarios,Costos_diarios,Ingresos_diarios
0,2019,1,2137-08-28,123,25582.84437,6224.742985,-178.195595,0.200765,0.0,NaN,NaN,NaN
1,2019,1,2137-08-29,123,52294.89596,12551.411640,-211.506122,0.200765,0.0,26712.05159,6326.668655,-33.310528
2,2019,1,2137-08-30,123,75989.98114,17472.170950,-445.821574,0.200765,0.0,23695.08518,4920.759310,-234.315452
3,2019,1,2137-08-31,123,101996.77740,23246.260370,-820.099531,0.200765,0.0,26006.79626,5774.089420,-374.277957
4,2019,1,2137-09-01,123,130852.26790,29349.922940,-1185.005452,0.200765,0.0,28855.49050,6103.662570,-364.905921

In [ ]:
# Calcular la variable objetivo: Margen Bruto Diario de la Compañía
df['Margen_diario'] = df[' Ventas_diarios'] - df['Costos_diarios'] + df['Ingresos_diarios']

KeyError: ' Ventas_diarios'

In [ ]:
# Calcular el porcentaje de margen diario (si también lo quieres como feature o para análisis)
# Hay que tener cuidado si VentasDiarias_Compañia + IngresosDiarias_Compañia es cero o muy cercano a cero.
df['MargenBrutoDiario_%_Compañia'] = (df['MargenBruto_diario'] / (df['Ventas_diarios'] + df['Ingresos_diarios'])) * 100

In [ ]:
# Manejar divisiones por cero si (VentasDiarias_Compañia + IngresosDiarias_Compañia) puede ser 0
df['MargenBrutoDiario_%_Compañia'].replace([float('inf'), float('-inf')], 0, inplace=True) # Reemplazar infinitos por 0 (o NaN) si hay división por cero

In [ ]:
# Importamos el módulo 'files' de Google Colab
from google.colab import files

# Asumimos que tu DataFrame (la tabla con tus resultados) se llama 'df_tu_resultado'.
# ¡CAMBIA 'df_tu_resultado' por el nombre real de tu DataFrame!
# También, cambia 'nombre_que_quieras_para_el_archivo.csv' por el nombre que prefieras.

nombre_del_archivo = 'df_company_daily' # Define el nombre del archivo como una variable de tipo string

# Asegúrate de usar el nombre correcto de tu DataFrame (probablemente df_company_daily)
df_company_daily.to_csv(nombre_del_archivo, index=False) # index=False es para no guardar el índice numérico de la tabla

# Esto iniciará la descarga en tu navegador
files.download(nombre_del_archivo)

In [ ]:
# Crear features basadas en la fecha
df_company_daily['Año'] = df_company_daily.index.year
df_company_daily['Mes'] = df_company_daily.index.month
df_company_daily['DiaDelMes'] = df_company_daily.index.day
df_company_daily['DiaDeLaSemana'] = df_company_daily.index.dayofweek # Lunes=0, Domingo=6
df_company_daily['NombreDiaSemana'] = df_company_daily.index.day_name() # 0Nombre del día (ej. 'Monday')
df_company_daily['SemanaDelAño'] = df_company_daily.index.isocalendar().week.astype(int) # Semana del año

In [ ]:
# Feature booleana para fin de semana
df_company_daily['EsFinDeSemana'] = df_company_daily['DiaDeLaSemana'].apply(lambda x: 1 if x >= 5 else 0) # 1 si es sábado o domingo, 0 si no

In [ ]:
# Feature para identificar el último día del mes (a menudo hay picos o ajustes)
df_company_daily['EsUltimoDiaDelMes'] = df_company_daily.index.is_month_end.astype(int) # 1 si es fin de mes, 0 si no

In [ ]:
# Crear Lags para la variable objetivo (MargenBrutoDiario_Compañia) y quizás otras variables clave
df_company_daily['Margen_Lag1'] = df_company_daily['MargenBrutoDiario_Compañia'].shift(1) # Margen del día anterior
df_company_daily['Margen_Lag7'] = df_company_daily['MargenBrutoDiario_Compañia'].shift(7) # Margen de hace una semana
# Puedes añadir más lags (ej. 2, 3, 14, 30 días)

In [ ]:
# Crear Rolling Statistics (ej. Media móvil de 7 días para Ventas)
df_company_daily['Ventas_MA7'] = df_company_daily['VentasDiarias_Compañia'].rolling(window=7).mean()
df_company_daily['Margen_MA7'] = df_company_daily['MargenBrutoDiario_Compañia'].rolling(window=7).mean()
# Puedes añadir otras ventanas (ej. 30 días) y otras estadísticas (sum, std, min, max)

In [ ]:
# Restablecer el índice antes de volver a configurarlo
df_company_daily = df_company_daily.reset_index()

# Ahora sí, configura 'Date' como índice
df_company_daily = df_company_daily.set_index('Date')

In [ ]:
import matplotlib.pyplot as plt # Librería estándar para crear gráficos
import seaborn as sns # Librería construida sobre matplotlib, hace gráficos más estéticos y complejos fácilmente

In [ ]:
print("\nVisualización de la Serie de Tiempo del Margen Bruto Diario de la Compañía:")
plt.figure(figsize=(12, 6)) # Crea una figura para el gráfico (ajusta el tamaño)
plt.plot(df_company_daily.index, df_company_daily['MargenBrutoDiario_Compañia']) # Crea el gráfico de línea
plt.title('Serie de Tiempo de Margen Bruto Diario de la Compañía') # Título del gráfico
plt.xlabel('Fecha') # Etiqueta del eje X
plt.ylabel('Margen Bruto Diario') # Etiqueta del eje Y
plt.grid(True) # Añade una cuadrícula
plt.show() # Muestra el gráfico

In [ ]:
df.head()

In [ ]:
# Histograma del Margen Bruto Diario para ver su distribución
print("\nDistribución del Margen Bruto Diario:")
plt.figure(figsize=(8, 5))
sns.histplot(df_company_daily['MargenBrutoDiario_Compañia'], kde=True) # histograma con línea de densidad estimada
plt.title('Histograma de Margen Bruto Diario')
plt.xlabel('Margen Bruto Diario')
plt.ylabel('Frecuencia')
plt.show()

In [ ]:
# Matriz de Correlación (entre variables numéricas diarias)
print("\nMatriz de Correlación:")
correlation_matrix = df_company_daily[['VentasDiarias_Compañia', 'CostosDiarias_Compañia', 'IngresosDiarias_Compañia', 'MargenBrutoDiario_Compañia', 'Margen_Lag1', 'Ventas_MA7']].corr() # Incluye tus features numéricas relevantes
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f") # Mapa de calor con valores
plt.title('Matriz de Correlación')
plt.show()

In [ ]:
# Box Plot del Margen Bruto Diario por Día de la Semana (para ver estacionalidad semanal)
print("\nBox Plot de Margen Bruto Diario por Día de la Semana:")
plt.figure(figsize=(10, 6))
sns.boxplot(x='NombreDiaSemana', y='MargenBrutoDiario_Compañia', data=df_company_daily) # Usa el nombre del día
plt.title('Margen Bruto Diario por Día de la Semana')
plt.xlabel('Día de la Semana')
plt.ylabel('Margen Bruto Diario')
plt.show()

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

# Leer archivo (ajustar ruta)
df = pd.read_csv("BD.csv", parse_dates=['date'], dayfirst=True)

# Ordenar por fecha
df.sort_values('date', inplace=True)

# Crear columna de días transcurridos desde la primera fecha
df['dias'] = (df['date'] - df['date'].min()).dt.days

# Calcular ventas acumuladas
df['ventas_acumuladas'] = df['ventas'].cumsum()

# Definir X (días) e y (ventas acumuladas)
X = df[['dias']]
y = df['ventas_acumuladas']

# Ajustar modelo de regresión
modelo = LinearRegression()
modelo.fit(X, y)

# Predicciones
df['prediccion'] = modelo.predict(X)

# Visualización
plt.figure(figsize=(10, 5))
plt.plot(df['date'], df['ventas_acumuladas'], label='Ventas Acumuladas', marker='o')
plt.plot(df['date'], df['prediccion'], label='Predicción', linestyle='--')
plt.xlabel('Fecha')
plt.ylabel('Ventas Acumuladas')
plt.title('Regresión Lineal sobre Ventas Acumuladas')
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()